<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{duplication :: common-head}"></head>

<body>
    <div th:insert="~{duplication :: sidebar}"></div>
    <header th:replace="~{duplication :: header}"></header>
    <nav th:replace="~{duplication :: navigation}"></nav>

    <main>
        <div class="blog-post">
            <p th:text="${board.title}" style="font-size: 30px">제목</p>
            <hr>
            <p th:text="${board.part}">파트</p>
            <hr>
            <div id="editable-content" class="editable-content" th:utext="${board.content}">내용</div>
        </div>
        <div th:if="${board.loginId == session.loginUser.loginId}">
            <a href="#" th:href="@{|/board-edit/${board.id}|}" style="color:black">수정</a>
            <a href="#" th:href="@{|/board-delete/${board.id}|}" style="color:black">삭제</a>
        </div>
        <div class="comments" th:if="${comments != null}">
            <h3>댓글</h3>
            <ul>
                <li th:each="comment : ${comments}">
                    <div class="comment-user">
                        <span th:text="${comment.loginId}">사용자 아이디</span> -
                        <span th:text="${comment.timeStamp}">시간</span>
                    </div>
                    <p class="comment-content" th:text="${comment.content}">댓글 내용</p>
                    <div th:if="${comment.loginId == session.loginUser.loginId}">
                        <a href="#" th:href="@{|/comment/delete/${comment.boardId}/${comment.id}|}" style="color:black">삭제</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="comment-form">
            <form action="/comment" th:action="@{|/board/${board.id}|}" method="post">
                <textarea name="content" placeholder="댓글을 작성하세요..." required></textarea>
                <input type="hidden" name="boardId" th:value="${board.id}">
                <input type="hidden" name="loginId" th:value="${session.loginUser.loginId}">
                <button type="submit">작성</button>
            </form>
        </div>
    </main>

    <footer th:replace="~{duplication :: footer}"></footer>

    <script src="../javascript/menubar.js"></script>

</body>

</html>