<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{duplication :: common-head}"></head>

<body>
  <div th:insert="~{duplication :: sidebar}"></div>
  <header th:replace="~{duplication :: header}"></header>
  <nav th:replace="~{duplication :: navigation}"></nav>

  <main style="text-align: center;">
    <form method="post" name="addForm" action="index.html" th:action="@{|/edit/${session.loginUser.loginId}|}" th:object="${passwordForm}" class="login-box">
      <p class="login-text">비밀번호 변경</p>
      <div class="id-box">
        <div th:if="${#fields.hasGlobalErrors()}" class="global-error">
          <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류</p>
        </div>

        <input type="password" id="password" name="password" placeholder="비밀번호 입력.." th:field="*{password}" class="id-textbox" />
        <div class="field-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">비밀번호 에러</div>

        <input type="password" id="passwordVerify" name="passwordVerify" placeholder="비밀번호 확인.." th:field="*{passwordVerify}" class="id-textbox" />
        <div class="field-error" th:if="${#fields.hasErrors('passwordVerify')}" th:errors="*{passwordVerify}">비밀번호 확인 에러</div>

        <input type="submit" value="변경하기" class="submit-box">
      </div>
      <a class="edit-box" th:href="@{|/userInfo/${session.loginUser.loginId}|}">취소</a>
    </form>
  </main>

  <footer th:replace="~{duplication :: footer}"></footer>

  <script src="../javascript/menubar.js"></script>

</body>

</html>