body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: black;
    padding: 10px 0;
    height: 100px;
}

header a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0 5px;
    font-size: 10px;
}

header>div:nth-child(1),
header>div:nth-child(2) {
    float: right;
    padding: 0 5px;
}

header>div:last-child {
    color: white;
    font-size: 40px;
    line-height: 85px;
    text-align: center;
}

footer {
    background-color: black;
    height: 50px;
    margin-top: 20px;
}

footer>div {
    color: white;
    text-align: right;
    margin: 0 15px;
    line-height: 50px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
}

nav a {
    height: 50px;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    color: black;
    flex: 1 1 20%;
    box-sizing: border-box;
    line-height: 40px;
    border: 1px solid black;
}

main {
    padding: 15px;
}

.content {
    border: 1px solid #ccc;
    min-height: 300px;
    /* Adjust as needed */
}

nav>div {
    margin: 15px 20px;
}

@media (min-width: 768px) {
    nav {
        justify-content: space-between;
    }

    .content {
        margin: 0 15px;
    }
}