<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{duplication :: common-head}"></head>

<body>
  <div th:insert="~{duplication :: sidebar}"></div>
  <header th:replace="~{duplication :: header}"></header>
  <nav th:replace="~{duplication :: navigation}"></nav>

  <main>
    <div class="content" th:each="board : ${board}">
      <a href="#" th:href="@{|/board/${board.id}|}" class="content-title" th:text="${board.title}">백준 105번</a>
      <span class="content-user" th:text="${board.loginId}">kjh1234</span>
      <div th:text="${board.commentCount}">댓글 수</div>
      <p class="content-part" th:text="${board.part}">DFS / BFS</p>
    </div>
  </main>

  <footer th:replace="~{duplication :: footer}"></footer>

  <script src="../javascript/menubar.js"></script>

</body>

</html>