<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{duplication :: common-head}"></head>

<body>
    <div th:insert="~{duplication :: sidebar}"></div>
    <header th:replace="~{duplication :: header}"></header>
    <nav th:replace="~{duplication :: navigation}"></nav>

    <main style="text-align: center;">
        <p class="login-text">회원정보</p>
        <div class="id-box" th:object="${user}">
            <table>
                <tr>
                    <td style="width: 20px;"><label for="loginId">사용자 ID</label></td>
                    <td><input type="text" id="loginId" name="loginId" th:field="*{loginId}" class="userInfo-textbox" readonly/></td>
                </tr>

                <tr>
                    <td style="width: 20px;"><label for="name">이름</label></td>
                    <td><input type="text" id="name" name="name" th:field="*{name}" class="userInfo-textbox" readonly/></td>
                </tr>

                <tr>
                    <td style="width: 20px;"><label for="birth">생년월일</label></td>
                    <td><input type="text" id="birth" name="birth" th:field="*{birth}" class="userInfo-textbox" readonly/></td>
                </tr>

                <tr>
                    <td style="width: 20px;"><label for="phoneNumber">전화번호</label></td>
                    <td><input type="text" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" class="userInfo-textbox" readonly/></td>
                </tr>

                <tr>
                    <td style="width: 20px;"><label for="email">이메일</label></td>
                    <td><input type="text" id="email" name="email" th:field="*{email}" class="userInfo-textbox" readonly/></td>
                </tr>
            </table>
        </div>
        <a class="edit-box" th:href="@{/edit}">비밀번호 변경</a>
    </main>

    <footer th:replace="~{duplication :: footer}"></footer>

    <script src="../javascript/menubar.js"></script>

</body>

</html>