<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{duplication :: common-head}"></head>

<body>
  <div id="menuButton" class="menu-button">☰ 메뉴</div>
  <div id="sidebar" class="sidebar">
    <div class="member-id">
      <a href="/login">로그인</a>
    </div>
    <form action="#" th:action="@{/search}" method="get">
      <input type="text" name="title" placeholder="Search Algorithm.." class="search-box">
    </form>
    <a href="#" th:href="@{/board-form}">글쓰기</a>
    <a href="#" th:href="@{/myPage}">마이페이지</a>
    <a href="#" th:href="@{/memberInfo/0}">회원정보</a>
    <a href="#" th:href="@{/question-to-ai}">AI에게 질문</a>
    <a href="#" th:href="@{/logout}">로그아웃</a>
  </div>

  <header th:replace="~{duplication :: header}"></header>
  <nav th:replace="~{duplication :: navigation}"></nav>

  <main>
    <div class="main-container">
      <h1 class="main-title">1일 1알고리즘 실천</h1>
      <p class="main-description">하루에 알고리즘 하나씩!!</p>
      <div class="challenge-buttons">
        <a href="https://www.acmicpc.net/" class="challenge-button">백준</a>
        <a href="https://programmers.co.kr/" class="challenge-button">프로그래머스</a>
        <a href="https://leetcode.com/problemset/all/" class="challenge-button">LeetCode</a>
      </div>
    </div>
  </main>

  <footer th:replace="~{duplication :: footer}"></footer>

  <script src="../javascript/menubar.js"></script>

</body>

</html>