<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{duplication :: common-head}"></head>

<body>
  <div th:insert="~{duplication :: sidebar}"></div>
  <header th:replace="~{duplication :: header}"></header>
  <nav th:replace="~{duplication :: navigation}"></nav>

  <main>
    <div class="main-container">
      <h1 class="main-title">1일 1알고리즘 실천</h1>
      <p class="main-description">하루에 알고리즘 하나씩!!</p>
      <div class="challenge-buttons">
        <a href="https://www.acmicpc.net/" class="challenge-button">백준</a>
        <a href="https://programmers.co.kr/" class="challenge-button">프로그래머스</a>
        <a href="https://leetcode.com/problemset/all/" class="challenge-button">LeetCode</a>
      </div>
    </div>
  </main>

  <footer th:replace="~{duplication :: footer}"></footer>

  <script src="../javascript/menubar.js"></script>

</body>

</html>